<p id="notice"><%= notice %></p>

<div class="one-post">
  <div class="one-post__block">
    <%= render "promo/navbar" %>
  </div>

  <div class="view-post">
    <p class="view-post__name">
     <%= @post.name %>
   </p>
    <div class="view-post__img">
      <%= image_tag(@post.image.url, alt: 'Image', :class => "post-pic" ) if @post.image? %>
    </div>

    <div class="view-post__discript">
      <!-- <p>
      	<strong>Author:</strong>
      	<%= @post.author %>
      </p> -->

      <div class="view-post__title">
        <h2>
          <%= @post.title %>
        </h2>
      </div>
      <p>
       <strong>Category:</strong>
       <%= @post.category.name %>
     </p>
      <div class="rect"></div>


     <div class="view-post__content">
       <p>
         <%= @post.content.html_safe %>
       </p>
     </div>

    </div>

    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <p><%= @post.dislikes.count %> <%= (@post.dislikes.count) == 1 ? 'Dislike' : 'Dislikes'%></p>
    <p><%= @post.favorites.count %> <%= (@post.favorites.count) == 1 ? 'Favorite' : 'Favorites'%></p>

  <%# Likes %>

  <% if user_signed_in? %>
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
    <% end %>

  <%# Dislikes %>

    <% pre_dislike = @post.dislikes.find { |dislike| dislike.user_id == current_user.id} %>
  <% if pre_dislike %>
    <%= button_to 'Undislike', post_dislike_path(@post, pre_dislike), method: :delete %>
  <% else %>
    <%= button_to 'Dislike', post_dislikes_path(@post), method: :post %>
  <% end %>

    <%# Favs %>

    <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
  <% if pre_favorite %>
      <%= button_to 'Remove from Favorite', post_favorite_path(@post, pre_favorite), method: :delete %>
  <% else %>
      <%= button_to 'Add to Favorite', post_favorites_path(@post), method: :post %>
  <% end %>

  <% end %>



    <div class="view-post__comments">

      <h2>Комментарии</h2>
      <%= render @post.comments %>

      <h3>Добавьте комментарий</h3>
      <% if user_signed_in? %>
        <%= render "comments/form" %>

      <% else %>
        <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
      <% end %>

    </div>

  </div>
</div>



<div class="final-actions">
  <% if user_signed_in? %>
    <%= link_to '🖊️', edit_post_path(@post) %> |
  <% end %>
  <%= link_to '⬅️', posts_path %>
</div>
