<!-- <h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<h2>Узнать раньше всех о запуске проекта:</h2> -->


<body>
<header>
  <nav>
    <ul>
      <%= link_to "Промо", promo_path %>
      <%= link_to "О нас", about_path %>
      <%= link_to "Блог", posts_path %>
    </ul>
  </nav>

  <h1>Сёрфин<span>г</span> в&nbsp;го<span>р</span>оде</h1>
</header>

<div class="wrapper">
  <div class="discript">
    <h2>Концепция</h2>
    <div class="text">
      <div class="ellipse"></div>
      <p><span>Usurf</span> – тематический медиа-сервис о серфинге в рамках города.  Это пошаговый план к достижению давней мечты, карманная энциклопедия знаний и лайфхаков. Этот проект – увлекательный рассказ про устройсво мира серфинга, про человека и его взаимоотношения с океаном, и даже немного про смысл жизни.</p>
    </div>
  </div>

  <div class="engage">
    <h2>Станьте ближе к океану и мечте</h2>
    <div class="ellipse"></div>
    <div class="ellipse"></div>
    <%= image_tag "elliptic_surf.png", :class => "elliptic_surf" %>

    <p>Поведя исследования и более 10 глубинных интервью, мы выяснили, что большинству респодентов серфинг интересен и как один вид активного отдыха и как способ найти единомышленников, внутреннюю гармонию. Однако люди просто не знают, что серфинг есть в России. Мы же рассказываем о разнообразных возможностях осуществить дальнюю мечту в рамках города</p>
  </div>

  <div class="needs">
  <h2>Потребности пользователей</h2>

    <div class="number_1">
      <h3>01</h3>
      <p>Найти места, где посёрфить в России</p>
    </div>
    <div class="number_2">
      <h3>02</h3>
      <p>Почувствовать поддержку других
членов коммьюнити</p>
    </div>
    <div class="number_3">
      <h3>03</h3>
      <p>Узнать больше о культуре и лайфстайле сёрферов в развлекательном ключе</p>
    </div>
    <div class="number_4">
      <h3>04</h3>
      <p>Подготовиться к первому сёрфингу
в домашних условиях</p>
    </div>
  </div>


  <div class="perks">
      <h2>Преимущества</h2>
      <div class="grid">
        <div class="circ_1">
          <%# <%= image_tag "profile.png", :class => "profile" %> %>
          <p>Полное погружение в мир океана и волн</p>
        </div>
        <div class="trap_1">
          <%# <%= image_tag "profile.png", :class => "profile" %> %>
          <p>Выбор любого вида сёрфинга</p>
        </div>
        <div class="square_1">
          <%# <%= image_tag "profile.png", :class => "profile" %> %>
          <p>Все споты в одном месте</p>
        </div>
        <div class="square_2">
          <%# <%= image_tag "profile.png", :class => "profile" %> %>
          <p>Докажем, что сёрфинг в России существует и развивается</p>
        </div>
        <div class="trap_2">
          <%# <%= image_tag "profile.png", :class => "profile" %> %>
          <p>Возможностьстать частью большого коммьюнити</p>
        </div>
        <div class="circ_1">
          <%# <%= image_tag "profile.png", :class => "profile" %> %>
          <p>Тренировки разного типа для сёрферов</p>
        </div>
      </div>
  </div>

  <div class="target">
    <h2>Городские сёрферы — кто они?</h2>
    <div class="person">
      <div class="profile">
        <%= image_tag "profile.png", :class => "profile" %>
        <p>Соня, 19 лет</p>
      </div>

      <div class="comment">
        <div class="circs">
          <div class="circ"></div>
          <div class="circ"></div>
          <div class="circ"></div>
        </div>
        <ul>
          <li>Учится в СПбГУ</li>
          <li>Пробовала сёрфить один раз  </li>
          <li>Вернулась в Питер, и хочет продолжить заниматься, но не знает где и как, да и вообще холодно</li>
          <li>Не хватает общения с людьми из сферы и тематических ивентов</li>
        </ul>
      </div>
      <%= image_tag "big_wave.png", :class => "img" %>
    </div>


    <div class="person">
      <div class="profile">
        <%= image_tag "profile.png", :class => "img" %>
        <p>Соня, 19 лет</p>
      </div>
      <div class="comment">
        <div class="circs">
          <div class="circ"></div>
          <div class="circ"></div>
          <div class="circ"></div>
        </div>
        <ul>
          <li>Учится в СПбГУ</li>
          <li>Пробовала сёрфить один раз  </li>
          <li>Вернулась в Питер, и хочет продолжить заниматься, но не знает где и как, да и вообще холодно</li>
          <li>Не хватает общения с людьми из сферы и тематических ивентов</li>
        </ul>
      </div>
      <%= image_tag "big_wave.png", :class => "img" %>
    </div>


    <div class="person">
      <div class="profile">
        <%= image_tag "profile.png", :class => "img" %>
        <p>Соня, 19 лет</p>
      </div>
      <div class="comment">
        <div class="circs">
          <div class="circ"></div>
          <div class="circ"></div>
          <div class="circ"></div>
        </div>
        <ul>
          <li>Учится в СПбГУ</li>
          <li>Пробовала сёрфить один раз  </li>
          <li>Вернулась в Питер, и хочет продолжить заниматься, но не знает где и как, да и вообще холодно</li>
          <li>Не хватает общения с людьми из сферы и тематических ивентов</li>
        </ul>
      </div>
      <%= image_tag "big_wave.png", :class => "img" %>
    </div>
  </div>


  <div class="features">
    <div class="spots"></div>
    <div class="map"></div>
    <div class="coments"></div>
    <div class="courses"></div>
  </div>


  <div class="inside">
    <h2>Как устроен сервис?</h2>
    <div class="section">
      <h2>Карта</h2>
      <div class="hover-ellipse"></div>
      <p></p>
      <p></p>
      <%= image_tag "example.png", :class => "img" %>
    </div>
  </div>


  <div class="authors">
    <div class="Olesya">
      <div class="circ"></div>
      <%= image_tag "lil_board1.png", :class => "lil_board" %>
      <%= image_tag "lil_board1.png", :class => "face" %>
      <h3>Олеся Шевченко</h3>
      <p>тут будет пару слов об авторе</p>
    </div>
    <div class="Katya">
      <div class="circ"></div>
      <%= image_tag "lil_board2.png", :class => "lil_board" %>
      <%= image_tag "lil_board2.png", :class => "face" %>
      <h3>Катя Зырянова</h3>
      <p>тут будет пару слов об авторе</p>
    </div>
  </div>

  <footer>
    <div class="half-ellipse"></div>
    <ul>
      <li>©2020 «‎Серфинг в городе»‎</li>
      <li>Политика конфиденциальности‎</li>
      <li>Контакты</li>
    </ul>
  </footer>


</div>
</body>
