
<!--first start screen-->
<section class="main section">
  <%= render "promo/navbar" %>
  <div class="main__content">
    <div class="main__content__text">
      <h1>Серфинг ближе, чем вам кажется</h1>
    </div>
    <div class="main__content__img">
      <%= image_tag("main-about-pic.png", :class => "main-pic") %>
    </div>
  </div>
</section>

<!-- screen about us -->
  <section class="about">
    <div class="topping">
      <h2>Кто мы?</h2>
      <div class="thin-line"></div>
      <p>концепция</p>
    </div>
    <div class="about__discript">
    <%= image_tag "text-logo.svg", :class => "about__discript__logo" %>
      <p class="about__discript__p">                  &mdash; тематический медиа-сервис о&nbsp;серфинге в&nbsp;рамках города.  Это пошаговый план к&nbsp;достижению давней мечты, карманная энциклопедия знаний и&nbsp;лайфхаков. Этот проект&nbsp;– увлекательный рассказ про устройсво мира серфинга, про человека и&nbsp;его взаимоотношения с&nbsp;океаном, и&nbsp;даже немного про смысл жизни.</p>
    </div>
      <%= image_tag "half-logo.png", :class => "half-logo" %>
  </section>


<!-- screen about research results -->
  <section class="research">
    <div class="topping">
      <h2>Что мы выяснили?</h2>
    </div>
    <%= image_tag "usurf_anim.gif", :class => "research__screen" %>
      <p class="research__p"> Проведя исследования и&nbsp;более
      10 глубинных интервью, мы&nbsp;выяснили, что большинству респодентов серфинг интересен
      и&nbsp;как один вид активного отдыха,
      и&nbsp;как способ найти единомыш-
      ленников, внутреннюю гармонию. </p>
      <span>

       </span>
      <p class="research__p">Однако люди просто не&nbsp;знают, что серфинг есть
      в&nbsp;России. Мы&nbsp;же&nbsp;рассказываем о&nbsp;разнообразных возможностях осуществить дальнюю мечту
      в&nbsp;рамках города.</p>
      <%= image_tag "dynamic.svg", :class => "research__dynamic" %>
  </section>


<!-- screen about needs and functions -->
  <section class="tasks">
    <div class="topping">
      <h2>Какие задачи решаем?</h2>
      <div class="thin-line"></div>
      <p>потребности/функции</p>
    </div>
      <div class="tasks__task">
        <h3>Познавать серф-культуру</h3>
        <%= image_tag "culture.png", :class => "task__pic" %>
        <p>Раздел «Лайфстайл» дает полное погружение
        в философию и культуру серфинга. Давно хотели узнать, что такое локализм? Или что на самом деле означает серферская «шака»? Здесь есть все ответы.</p>
      </div>
      <div class="tasks__task">
        <h3>Находить серф-школы</h3>
        <%= image_tag "schools.png", :class => "task__pic" %>
        <p>В Usurf есть раздел, где все серф-школы и кемпы России собраны на одной карте. На случай, если вам казалось, что серфинга у нас в стране нет — все не так безнадежно.</p>
      </div>
      <div class="tasks__task">
        <h3>Подготовиться к тренировке</h3>
        <%= image_tag "workout.png", :class => "task__pic" %>
        <p>Целый раздел отведен под отдельные тренировки
        и курсы, которые помогут вам подгоовиться к поездке
        на океан. Или просто настроиться на сёрферский вайб
        не только ментально, но и физически.</p>
      </div>
  </section>


<!-- screen about main features -->

  <section class="features">
    <div class="topping">
      <h2>С чем работаем?</h2>
      <div class="thin-line"></div>
      <p>основные фичи</p>
    </div>
    <%= image_tag "j_letter.png", :class => "j_letter" %>
    <div class="all-features">
      <div class="feature">
         <p>Карта спотов</p>
         <%= image_tag "iphone-map.png", :class => "feature__pic" %>
      </div>
      <div class="feature">
         <p>Комментарии с ответами</p>
         <%= image_tag "iphone-map.png", :class => "feature__pic" %>
      </div>
      <div class="feature">
         <p>Лайки</p>
         <%= image_tag "iphone-map.png", :class => "feature__pic" %>
      </div>
      <div class="feature">
         <p>Сохранить в коллекцию</p>
         <%= image_tag "iphone-map.png", :class => "feature__pic" %>
      </div>
      <div class="feature">
         <p>Фильтры поисковой выдачи</p>
         <%= image_tag "iphone-map.png", :class => "feature__pic" %>
      </div>
      <div class="feature">
         <p>Подписка на тег</p>
         <%= image_tag "iphone-map.png", :class => "feature__pic" %>
      </div>
    </div>
  </section>


<!-- screen about target audience -->

  <section class="target">
    <div class="topping">
      <h2>Для кого?</h2>
      <div class="thin-line"></div>
      <p>целевая аудитория</p>
    </div>
      <div class="target__person">
         <div class="target__person__back-rect">
           <p>Приближается лето и отпуск, друзья предлагают попробовать сёрфинг в условиях закрытых границ, но ещё не решили где. Я целыми днями ищу серф -школы, но не могу найти структурированный список по разным регионам, чтобы было удобно выбирать. Через баннер на одном из сайтов/как-то ещё нахожу сервис Usurf.</p>
         </div>
         <div class="target__person__front-rect">
           <div class="person-card-header">
              <h4>Евгений, 24 года</h4>
              <%= image_tag "boards-icon.svg", :class => "boards-icon" %>
           </div>
           <p>Фрилансер</p>
           <%= image_tag "person1.png", :class => "person__front-rect__img" %>
           <div class="person__look">
             <%= image_tag "eye.svg", :class => "person__look__img" %>
           </div>

           <div class="person-card-discript">
              <h4>Пробовал сёрфить 2 раза</h4>
              <p>Живет в СПб, мечтает снова встать на доску и переехать к океану. Знает о серфинге в России, но предпочитает более доступные виды активного отдыха.</p>
           </div>
         </div>
      </div>

      <div class="target__person">
         <div class="target__person__back-rect">
           <p>Живет в СПб, мечтает снова встать на доску и переехать к океану. Знает о серфинге в России, но предпочитает более доступные виды активного отдыха.</p>
         </div>
         <div class="target__person__front-rect">
           <div class="person-card-header">
              <h4>Сергей, 21 год</h4>
              <%= image_tag "boards-icon.svg", :class => "boards-icon" %>
           </div>
           <p>Студент</p>
           <%= image_tag "person2.png", :class => "person__front-rect__img" %>
           <div class="person__look">
             <%= image_tag "eye.svg", :class => "person__look__img" %>
           </div>

           <div class="person-card-discript">
              <h4>Мечтает о коммьюнити</h4>
              <p>Учится на последнем курсе МГУ, катается на скейте,  мечтает найти свое дело, и заниматься им в кругу единомышленников. Любит активные тренировки и тематические тусовки.</p>
           </div>
         </div>
      </div>

      <div class="target__person">
         <div class="target__person__back-rect">
           <p>Живет в СПб, мечтает снова встать на доску и переехать к океану. Знает о серфинге в России, но предпочитает более доступные виды активного отдыха.</p>
         </div>
         <div class="target__person__front-rect">
           <div class="person-card-header">
              <h4>Алина, 23 года</h4>
              <%= image_tag "boards-icon.svg", :class => "boards-icon" %>
           </div>
             <p>Офисный работник</p>
           <%= image_tag "person3.png", :class => "person__front-rect__img" %>
           <div class="person__look">
             <%= image_tag "eye.svg", :class => "person__look__img" %>
           </div>

           <div class="person-card-discript">
              <h4>Хочет стать серф-тренером</h4>
              <p>Работает в IT компании, любит пробовать новые активности, хочет стать серф-тренером. Часто ищет возможность съездить на выходные или в отпуск к океану.</p>
           </div>
         </div>
      </div>

  </section>

<!-- screen aboit us -->

  <section class="authors">
    <%= image_tag "ending-gizmo.svg", :class => "authors__zigzag" %>
    <div class="author">
      <%= image_tag "olesya-profile.png", :class => "author__profile-img" %>
      <%= image_tag "olesya-letter.svg", :class => "author__profile-letter" %>
      <h3>Шевченко Олеся</h3>
      <p>Главная по волнам.
      Отвечаю за страницу «Промо»,прототипы,
      типографику, JTBD
      и многие другие штуки</p>
    </div>
    <div class="author">
      <%= image_tag "kate-profile.png", :class => "author__profile-img" %>
      <%= image_tag "kate-letter.svg", :class => "author__profile-letter" %>
      <h3>Зырянова Катя</h3>
      <p>Главная по песочку.
      Делаю страницу «О нас», часть прототипов, интервью и прочее</p>
    </div>
  </section>

<!-- kinda footer -->
  <section class="footer">
    <ul class="captions">
      <li>©2020 «‎Серфинг в городе»‎</li>
      <li>Политика конфиденциальности‎</li>
      <li>Контакты</li>
    </ul>
    <ul class="footer__media-links">
      <%= image_tag "fb.svg", :class => "footer__media-img" %>
      <%= image_tag "insta.svg", :class => "footer__media-img" %>
      <%= image_tag "behance.svg", :class => "footer__media-img" %>
    </ul>

  </section>
